<% if resource.errors.any? %>
    <div id="error_explanation" class="error-div">
        <% resource.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    </div>
<% end %>
